# Example queries on COVID-19 Knowledge Graph

In [1]:
import os
import pandas as pd
from py2neo import Graph

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [3]:
graph = Graph(password="neo4jbinder")

### List coronavirus outbreaks

In [4]:
query = """
MATCH (p:Pathogen)-[:CAUSES]->(o:Outbreak)
RETURN p.acronym as acronym, p.name as pathogen, p.taxonomy_id as taxonomy_id, o.name as outbreak, o.start_date as start_date
"""
graph.run(query).to_data_frame()

,acronym,pathogen,taxonomy_id,outbreak,start_date
0,SARS-CoV-2,Severe acute respiratory syndrome coronavirus 2,2697049,COVID-19,2019
1,MERS-CoV,Middle East respiratory syndrome-related coron...,1335626,MERS,2012
2,SARS-CoV,Severe acute respiratory syndrome-related coro...,694009,SARS,2003

### List person demographics and strain information for California

In [5]:
query = """
MATCH (a:Admin1)<-[:LOCATED_IN]-(p:Person)-[:CARRIES]->(s:Strain)
WHERE a.name = 'California'
RETURN p.age as age, p.sex as sex, p.exposure_location as exposure_location, s.name as strain
"""
graph.run(query).to_data_frame().head(100)

     age     sex exposure_location                strain
0     46  Female        California          USA/CA9/2020
1     51  Female        California          USA/CA8/2020
2     56  Female             Hubei          USA/CA7/2020
3     44    Male             Hubei          USA/CA6/2020
4     54  Female             Hubei          USA/CA5/2020
5     57  Female        California          USA/CA4/2020
6     57    Male        California          USA/CA3/2020
7     54    Male             Hubei          USA/CA2/2020
8     38    Male             Hubei          USA/CA1/2020
9   None    None        California    USA/CA-PC101P/2020
10  None    None        California  USA/CA-CDPH-UC4/2020
11  None    None        California  USA/CA-CDPH-UC3/2020
12  None    None        California  USA/CA-CDPH-UC2/2020

### Find persons that where infected outside their living area

In [6]:
query = """
MATCH (c:Admin1)<-[:LOCATED_IN]-(p:Person)-[:CARRIES]->(s:Strain)
WHERE c.name <> p.exposure_location
RETURN c.name as `state/province`, p.age as age, p.sex as sex, p.exposure_location as exposure_location, s.name as strain
ORDER BY p.exposure_location
"""
graph.run(query).to_data_frame()

,state/province,age,sex,exposure_location,strain
0,Minnesota,None,None,Grand Princess,USA/MN3-MDH3/2020
1,Minnesota,None,None,Grand Princess,USA/MN1-MDH1/2020
2,New South Wales,53,Male,Hubei,Sydney/2/2020
3,New South Wales,43,Male,Hubei,Australia/NSW01/2020
4,Queensland,44,Male,Hubei,Australia/QLD01/2020
5,Victoria,50,Male,Hubei,Australia/VIC01/2020
6,Flanders,54,Male,Hubei,Belgium/GHB-03021/2020
7,Sihanoukville,60,Male,Hubei,Cambodia/0012/2020
8,Ontario,None,Male,Hubei,Canada/ON-VIDO-01/2020
9,Ontario,56,Male,Hubei,Canada/ON-PHL2445/2020
10,England,27,Female,Hubei,England/09c/2020
11,England,23,Male,Hubei,England/02/2020
12,England,50,Female,Hubei,England/01/2020
13,Finland,32,Female,Hubei,Finland/1/2020
14,Ile de France,47,Female,Hubei,France/IDF0515/2020
15,Zhejiang,32,Male,Hubei,Hangzhou/HZCDC0001/2020
16,Zhejiang,32,Male,Hubei,Hangzhou/HZ-1/2020
17,Lazio,66,Female,Hubei,Italy/INMI1-isl/2020
18,Lazio,66,Female,Hubei,Italy/INMI1-cs/2020
19,Kathmandu,32,Male,Hubei,Nepal/61/2020
20,Nonthaburi,74,Female,Hubei,Nonthaburi/74/2020
21,Nonthaburi,61,Female,Hubei,Nonthaburi/61/2020
22,Singapore,31,Female,Hubei,Singapore/4/2020
23,Singapore,66,Male,Hubei,Singapore/1/2020
24,South Korea,None,None,Hubei,SouthKorea/SNU01/2020
25,Taiwan,45,Male,Hubei,Taiwan/NTU02/2020
26,Taiwan,50,Female,Hubei,Taiwan/NTU01/2020
27,Arizona,26,Male,Hubei,USA/AZ1/2020
28,California,56,Female,Hubei,USA/CA7/2020
29,California,44,Male,Hubei,USA/CA6/2020
30,California,54,Female,Hubei,USA/CA5/2020
31,California,54,Male,Hubei,USA/CA2/2020
32,California,38,Male,Hubei,USA/CA1/2020
33,Illinois,68,Male,Hubei,USA/IL2/2020
34,Illinois,63,Female,Hubei,USA/IL1/2020
35,Massachusetts,21,Male,Hubei,USA/MA1/2020
36,Texas,50,Female,Hubei,USA/TX1/2020
37,Washington,None,Male,Hubei,USA/WA1/2020
38,Wisconsin,52,Female,Hubei,USA/WI1/2020
39,Thanh Hoa,25,Female,Hubei,Vietnam/VR03-38142/2020
40,New South Wales,81,Male,Iran,Australia/NSW13/2020
41,New South Wales,31,Male,Iran,Australia/NSW12/2020
42,New South Wales,38,Male,Iran,Australia/NSW11/2020
43,New South Wales,51,Female,Iran,Australia/NSW06/2020
44,New South Wales,43,Male,Iran,Australia/NSW05/2020
45,British Columbia,35,Female,Iran,Canada/BC_37_0-2/2020
46,Finland,29,Female,Iran,Finland/FIN-266/2020
47,Bavaria,40,Female,Iran,Germany/BavPat2/2020
48,Auckland,None,Female,Iran,NewZealand/01/2020
49,New York,39,Female,Iran,USA/NY1-PV08001/2020
50,Sao Paulo,13,Female,Italy,Brazil/SPBR-04/2020
51,Usti nad Labem,44,Male,Italy,CzechRepublic/951/2020
52,Finland,23,Female,Italy,Finland/FIN-114/2020
53,Helsinki,59,Male,Italy,Finland/FIN03032020C/2020
54,Lagos,None,Male,Italy,Nigeria/Lagos01/2020
55,Sao Paulo,32,Male,Lombardy,Brazil/SPBR-02/2020
56,Sao Paulo,61,Male,Lombardy,Brazil/SPBR-01/2020
57,Helsinki,24,Female,Lombardy,Finland/FIN-25/2020
58,Baden-Wuerttemberg,None,None,Lombardy,Germany/Baden-Wuerttemberg-1/2020
59,Mexico City,35,Male,Lombardy,Mexico/CDMX/InDRE_01/2020
60,Zurich,26,Female,Lombardy,Switzerland/1000477797/2020
61,Zurich,27,Male,Lombardy,Switzerland/1000477796/2020
62,Geneva,30,Male,Lombardy,Switzerland/GE9586/2020
63,Geneva,28,Male,Lombardy,Switzerland/GE3895/2020
64,Washington,58,Female,South Korea,USA/WA3-UW1/2020